<!DOCTYPE html>

<html>

<head>
    {{!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
     <title>404</title>
   {{!-- <link rel="stylesheet" href="css/new.css"> --}}

   <style>
    .hello {

    background-image: url(https://cdn.thecodehelp.in/f2y7na7cqmsrdspozkwo_0cebdff421.webp);
    background-repeat: no-repeat;
    width: 100%;
 height: 500px; 
 align-items: center;
 justify-content: center;
 display: flex;
 background-position: center;
 /* You may want to specify additional CSS properties for the background image */
 /* For example: background-size, background-repeat, etc. */
}

.main-content {
    flex-grow: 1;
}
   </style>
</head>
<body>
        <div class="main-content">
            <h1>i am now in 404 page</h1>
            <div class="hello"></div>
        </div>
        


        <script>
            console.log("hello")

            {{!-- fetch('http://puzzle.mead.io/puzzle')
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then((data) => {
                console.log(data);
            })
            .catch((error) => {
                console.error('Fetch error:', error);
            }); --}}
            
            
</body>
</html>
